#cart{
    float:right;
    height: 2em;
    width: auto;
    margin:1%;
}

.brand{
    font-weight: bolder;
}

nav{
    background-color: #0097B2;
}
.c{
    color: black;
    text-decoration: none;
}