#cart{
    float:right;
    height: 3em;
    width: auto;
    margin:1%;
}

.brand{
    font-weight: bolder;
}

.c{
    color: black;
    text-decoration: none;
}

.box1{
    background-color: rgb(0, 0, 0);
    height: 20px;
    width: 15px;
    position: relative;  
    left: 2em;
    opacity: 0.7;
    border-radius: 0.2em;
}
