#cart{
    float:right;
    height: 3em;
    width: auto;
    margin:1%;
}

.brand{
    font-weight: bolder;
}

nav{
    /* padding: 1.2em; */
    background-color: #0097B2;
}
.c{
    color: black;
    text-decoration: none;
}

.box1{
    background-color: red;
    height: 20px;
    width: 15px;
    position: relative;  
    left: 2em;
    opacity: 0.7;
    border-radius: 0.2em;
}
